.instruction-cont {
  border-radius: 4px;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #C25700;
  color: white;
  width: 55%;
  -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.507);
}

.instruction-cont img {
  margin: 0 0 20px 0;
  aspect-ratio: 600/250;
  border-radius: 4px;
}

.instruction {
  text-align: center;
  min-height: 80px;
  font-family: 'Coiny', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
}

.dots {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dot {
  min-width: 30px;
  border-radius: 100px;
  width: calc(5%);
  aspect-ratio: 1/1;
  margin: 10px;
  border: 4px solid #151515;
  background-color: #151515;
}

.active {
  background-color: white;
}

/* New pack */
.two-form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.theme-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.theme {
  font-family: 'Baloo 2', serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #C25700;
  margin: 10px;
  aspect-ratio: 16/9;
  width: 45%;
}