@import '../../styles/index.scss';

.form-cont {
  border-radius: 4px;
  background-color: $primary-dark;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.507);
}

@media screen and (max-width: 1200px) {
  .home-cont {
    flex-direction: column-reverse;
  }

  .form-cont {
    width: 100%;
  }

  .instruction-cont {
    width: 100% !important;
  }

  .two-form-cont {
    width: 100% !important;
  }
}
.config-create-cont{
  padding: 10px 0;
  width: 100%;
}
.config-create-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Baloo 2", serif;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.config-create-header a{
  border-radius: 4px;
  font-family: "Coiny", serif;
    text-decoration: none !important;
    background: $primary-light;
  padding: 10px 10px;
  margin: 10px 0;
}
.form-cont input {

  padding: 10px;
  color: rgba(235, 235, 235, 1);
  min-width: 150px;
  margin: 15px;
  background-color: $primary-dark;
  width: 100%;
  border: 0;
  border-bottom: 3px solid white;
  font-family: 'Baloo 2', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.form-cont input::placeholder {
  color: rgba(235, 235, 235, 0.6);
}

textarea:focus,
input:focus {
  outline: none;
}

.file {
  font-family: 'Coiny', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 4px solid $primary-light;
  background-color: $primary-dark;
  color: white;
  padding: 10px;
  margin: 15px;
  width: 100%;
}

.file:hover {
  background-color: $primary-light;
}

.fileinp {
  display: none !important;
}

.form-title {
  font-family: 'Coiny', serif;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  line-height: 40px;
  color: #C25700;
  text-shadow: 15px 5px 5px rgba(0, 0, 0, 0.12);
}

.create-btn {
  color: white;
  font-family: 'Coiny', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 14px;
  background: $primary-light;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  margin-top: calc(15%);
  border: 0;
  &:hover{
    background: $primary-light-hover !important;
  }
}