@import '../../styles/index';
.packs-cont {

  width: 100%;
  background-color: #151515;
  z-index: 0;
}
.copy-list{
  width: 100%;
}
.config-tutor{
  font-family: 'Baloo 2', serif !important;
  text-align: center;
  margin: 10px;
}
.filters-cont {

  background-color: #151515;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 0;
}
.list-cont {
  border-radius: 4px;
  padding: 3px;
  background: $primary-dark;
  margin: 80px 30px 30px 30px;
  align-items: center;
  position: relative;
  display: flex;

  width: 80%;
  flex-direction: column;
  -webkit-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.507);
}

@media screen and (max-width: 800px) {
  .list-cont{
    width: 100% !important;
  }
}