.packs-cont {
    width: 100%;
    
    z-index: 0;
}
.marged{
    margin: 0px;
}
.font {
    font-family: 'Coiny' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
}
.list-cont{
    position: relative;
    display: flex;
    z-index: 0;
    flex-direction: column;
}
.dark-back {
    background-color: #C25700 !important;
}

.item-title {
    padding: 10px;
    min-width: 280px;
    font-family: 'Coiny' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
}
.main-info{
    min-height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.button-cont{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.preview-btn{
    background-color: #151515 !important;
    font-family: 'Baloo 2' !important;
    font-style: normal !important; 
    font-weight: 400 !important;
    margin: 5px;
}
.icon-btn{
    background-color: transparent !important;
    font-family: 'Baloo 2' !important;
    font-style: normal !important; 
    font-weight: 400 !important;
    box-shadow: none !important;
}
.more-info {
    background-color: #c2570065;
}

.item-description {
    padding-left: 10px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
}